.images {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
}

.images img {
    width: 100%;
}

.cards-wrapper {
    display: grid;
    grid-gap: 10px;
    margin: 30px 0;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    font-family: 'rawline',sans-serif;
    background-color: antiquewhite;
}

.card img {
    width: 100%;
}

.card .content {
    display: flex;
    margin: 10px 30px;
    align-items: center;
    flex-direction: column;
}

.card .content h2{
    font-size: 24px;
    font-weight: 700;
   text-align: center;
}

.card .content p{
    font-size: 24px;
}

.card .content > p input {
    width: 50px;
    background: #fff;
    border-radius: 1px;
    font-size: 18px;
    height: 56px;
    line-height: 1.42857143;
    padding: 0 9px;
    text-align: center;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
}

.card .content > button {
    background: #429f3f;
    border: 1px solid #429f3f;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'rawline',sans-serif;
    font-weight: 700;
    padding: 15px 30px;
    font-size: 18px;
    line-height: 24px;
}