.img-wrapper {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://exp.cdn-hotels.com/hotels/20000000/19370000/19364900/19364845/903c8a6a_z.jpg?impolicy=fcrop&w=1000&h=500&q=medium");
}